#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Mon Jul 24 07:50:25 2017

@author: changyueh
"""
<?xml version="1.0"?>
<menu>
 <breakfast hours="7-11">
  <item price="$6.00">breakfast burritos</item>
  <item price="$4.00">pancakes</item>
 </breakfast>
 <lunch hours="11-3">
  <item price="$5.00">hamburger</item>
 </lunch>
 <dinner hour="3-10">
  <item price="$8.00">spaghetti</item> 
 </dinner>
</menu>